$color: #e1dedd;
$yellow: #efce8b;
$primary: #322f47;
$orang: #e57b53;
$fontDarkRed: #c23522;
$fontColor: #485657;
$bgDark: rgba(0, 0, 0, 0.25);
$skin: #efdac2;
$formBgColor: #d9a653;
$formLine: #e1dedd;

@mixin mobile {
  @media (max-width:768px) {
    @content;
  }
}

@mixin table {
  @media (max-width:820px) {
    @content;
  }
}

@mixin windowXL {
  @media (max-width:1200px) {
    @content;
  }
}

@mixin windowXXL {
  @media (max-width:1400px) {
    @content;
  }
}
